@model IEnumerable<BaseDeConhecimento.Dtos.RequisitoDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Cadastrar", new { id = @ViewBag.idProjeto })
</p>
<table>
    <tr>
        <th></th>
        <th>Nome
        </th>
        <th>Descricao
        </th>
        <th>Critério de aceitacao
        </th>
        <th>Qtd. Bugs
        </th>
        <th>Qtd. Comunicacao Externa
        </th>
        <th>Data Cadastro
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idRequisito)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.criterioAceitacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bugs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdComunicacaoExterna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idRequisito }, null) |
                @Html.ActionLink("Atividades", "Index", "Atividade", new { idRequisito = item.idRequisito }) |
                
            </td>
        </tr>
        }
    }

</table>
